@font-face {
  font-family: "NeueMachina";
  font-weight: 700;
  src: url("../fonts/NeueMachina-Bold.ttf");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 800;
  src: url("../fonts/NeueMachina-Ultrabold.ttf");
}