@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

:root {
  --raleway: 'Raleway', sans-serif;
  --neuemachina: 'NeueMachina', sans-serif;
  --black: #000000;
  --white: #FFFFFF;
  --white-100: #F2F2F2;
  --red: #FF004C;
  --purple-400: #9E00FF;
  --purple-300: #E9C4FF;
  --purple-200: #F0D9FF;
  --purple-100: #F9EFFF;
}