.radio {
  display: block;
  width: max-content;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__inner {
    width: max-content;
    font-size: 16px;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 20px;
    display: flex;
    padding: 8px 1.5em;
    cursor: pointer;
    align-items: center;
    transition-property: background-color, color, border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    gap: 8px;

    &:hover {
      background-color: var(--purple-400);
      border-color: var(--purple-400);
      color: var(--white);

      .radio__marker {
        border-color: white;
        background-color: var(--white);
      }
    }
  }

  &__marker {
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid var(--black);
    border-radius: 50%;
    position: relative;
    transition-property: border, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  input:checked + &__inner {
    background-color: var(--black);
    color: var(--white);

    .radio__marker {
      border-color: var(--white);
      border-width: 4px;
    }

    &:hover {
      border-color: var(--black);

      .radio__marker {
        background-color: var(--purple-400);
      }
    }
  }
}

@media (min-width: 700px) {
  .radio {
    &__inner {
      font-size: 24px;
    }

    &__marker {
      width: 22px;
      height: 22px;
    }

    input:checked + &__inner {
      .radio__marker {
        max-width: 22px;
        max-height: 22px;
      }
    }
  }
}